<script src="../JobConfiguration/js/vue3"></script>
<script src="../JobConfiguration/js/axio"></script>
<script src="../JobConfiguration/js/vuejsPaginate"></script>

<div id="app">
    <div class="col-md-12">
        <h1 class="page-header">Notifications</h1>

        <div v-if="getItems.length == 0" class="alert alert-info">
            No notifications found
        </div>

        <div v-else class="js-jobs-list">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Notification</th>
                            <th>Job</th>
                            <th>Notification Types</th>
                            <th>TimeZone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="notification in getItems">
                            <td>{{notification.Id}}</td>
                            <td>{{notification.Notification}}</td>
                            <td>{{notification.Job}}</td>
                            <td>{{notification.NotificationType}}</td>
                            <td>{{notification.TimeZoneId}}</td>
                        </tr>
                    </tbody>
                </table>

                <div style="float: right;">
                    <paginate :page-count="getPageCount"
                              :page-range="3"
                              :margin-pages="2"
                              :click-handler="clickCallbackPagination"
                              :prev-text="'＜'"
                              :next-text="'＞'"
                              :container-class="'pagination'"
                              :page-class="'page-item'">
                    </paginate>
                </div>
            </div>
        </div>
    </div>
</div>

<script setup lang="ts">

    const { createApp, ref } = Vue

    const app = createApp({
        data() {
            return {
                notifications: null,
                pagination: {
                    parPage: 10,
                    currentPage: 1
                }
            }
        },
        methods: {
            GetJobs() {
            debugger;
                axios.get('GetJobsStopped')
                     .then(res => (this.notifications = res.data))
            },
            clickCallbackPagination(pageNum) {
                this.pagination.currentPage = Number(pageNum);
            }
        },
        created() {
            this.GetJobs();
        },
        computed: {
            getItems: function () {
                debugger;
                let current = this.pagination.currentPage * this.pagination.parPage;
                let start = current - this.pagination.parPage;

                if (this.notifications != null) {
                    return this.notifications.slice(start, current);
                } else {
                    return null;
                }
            },
            getPageCount: function () {
                return Math.ceil(this.notifications.length / this.pagination.parPage);
            }
        }
    });

</script>